{
  "separator": ";",
  "line_ending": "\n",
  "encoding": "utf-8",
  "configs_directory": "../configs/",
  "bsvp_data_directory": "../data/",
  "output_directory": "../export/",
  "archive_directory": "../export/backup/",
  "log_file": "../exporter.log"
}
