{
  "produkttyp": "Kühlschrank",
  "felder": {
    "ARTNR": "artikelnummer",
    "TECHDATA": {
      "0000246": "verwendungszweck",
      "0000226": "temperaturbereich_von_grad_celsius",
      "0000225": "temperaturbereich_bis_grad_celsius",
      "0000058": "breite_aussen",
      "0000059": "hoehe_aussen",
      "0000060": "tiefe_aussen",
      "0000152": "lieferant",
      "0000333": "roste_ablageflaechen_hoehenverstellbar"
    }
  }
}
