<div
  class="modal fade"
  id="export-settings"
  tabindex="-1"
  role="dialog"
  aria-labelledby="settings-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settings-label">Exporter Einstellungen</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Zu exportierende Hersteller (werden nicht auf den Konfigurator Export
          oder bereits laufende Exports angewendet):
        </p>
        <div class="mx-2 my-3">
          {% for manufacturer in manufacturers %}
          <div
            class="custom-control custom-checkbox custom-checkbox custom-control-inline"
          >
            <input
              type="checkbox"
              class="custom-control-input manufacturer-selection"
              id="manufacturer-{{manufacturer}}"
              data-name="{{manufacturer}}"
              checked
            />
            <label
              class="custom-control-label"
              for="manufacturer-{{manufacturer}}"
              >{{manufacturer}}</label
            >
          </div>
          {% endfor %}
        </div>
        <button
          type="button"
          id="toggle-manufacturers-button"
          class="btn btn-primary d-inline-block"
          onclick="toggleAllManufacturers()"
          value="deselect-all"
        >
          Alle abwählen
        </button>
      </div>
    </div>
  </div>
</div>
